#include <windows.h>

101 DIALOG DISCARDABLE  0, 0, 0, 0
STYLE WS_CHILD | WS_POPUP | WS_OVERLAPPED
EXSTYLE WS_EX_TOOLWINDOW | WS_EX_LAYERED | WS_EX_TRANSPARENT | WS_EX_NOACTIVATE
BEGIN
END

//102 DIALOG DISCARDABLE  0, 0, 0, 0
//STYLE WS_CHILD | WS_POPUP | WS_VISIBLE | WS_OVERLAPPED
//EXSTYLE WS_EX_TOOLWINDOW | WS_EX_LAYERED | WS_EX_TRANSPARENT
//BEGIN
//END

102 DIALOG DISCARDABLE  0, 0, 0, 0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_MINIMIZEBOX|DS_CENTER|DS_MODALFRAME|DS_3DLOOK
EXSTYLE WS_EX_NOACTIVATE
BEGIN
END

//104 DIALOG DISCARDABLE  0, 0, 0, 0
//EXSTYLE WS_EX_TOOLWINDOW | WS_EX_LAYERED | WS_EX_TRANSPARENT
//BEGIN
//END


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,9,9
 PRODUCTVERSION 1,2,9,9
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "耍下 www.shuax.com\0"
            VALUE "FileDescription", "幽香2 正式版 2012.02.05\0"
            VALUE "FileVersion", "1, 2, 9, 9\0"
            VALUE "LegalCopyright", "版权所有 (C) 2009 - 2012.\0"
            VALUE "OriginalFilename", "msimg32.dll"
            VALUE "ProductName", "幽香2 QQ显IP去广告插件\0"
            VALUE "ProductVersion", "1.299\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END/*
*/